:root{
    --primary: #bdf9df;
    --primary-houver: #216f32;
    --bg: #ffffff;
    --secundary: #dedede;
    --secundary-houver: #dedede;
    --gray: #9c9c9c;
    --border: #333333:
    --dropzone-border: #f7f1f1;
    --headline: #111315;
    --text:  #111315;
    --primary-text:  #111315;
    --dropzone-over: var (--secondary);
}
body{
    font-family: 'Work Sans',sans-serif;
    background: var (--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--text);
}

*::selection{
    background: var(--primary);
    color: var(--btn-text);
}
.box{
    background: var(--primary);
    border-radius: 1rem;
    padding: 2rem;
    margin: 30px auto 24px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 36rem;
    width: 100%;
}

.box p{
    color: var(--primary-houver);
}

.dropzone-actions button[type='reset'] {
    border-radius: 1rem;
    justify-content: center;
    margin: 10px auto 24px;
    max-width: 36rem;
    width: 100%;
    cursor: pointer;
}

.dropzone-actions button[type='reset']:houver {
    background: var(--secundary-houver);
    
}

.dropzone-box{
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--gray);
    width: 100%;

}

.dropzone-box h2{
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--headline);
}

.dropzone-box p{
    font-size: 1.15rem;
    color: var(--headline);
}

.dropzone-area{
    padding:15%;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropzone-area [type="file"]{
    cursor:pointer;
    position: absolute;
    opacity: 0;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg{
    height: 6rem;
    max-width: 6rem;
    margin-bottom: 0.5rem;
    stroke: var(--headline);
}

.dropzone-area:haver {
    background: var(--dropzone-over);
}

.dropzone-over{
    border: 2px solid var(--primary);
    background: var(--dropzone-over);
}

.dropzone-actions button{
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    border: none;
    transition: background 0.3s ease;
}

@media screen and (min-width: 768px) {
    .box{
        flex-direction: row;
    }
}

@media screen and (min-width: 1824px) {
    .box{
        flex-direction: row;
    }
}

@media screen and (min-width: 1068px) {
    .box{
        flex-direction: column;
    }
}
